@import "color.css";
.signup{
    width: 100%;
    max-width: 2000px;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.signuppic{
     width: 60%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.signuppic img{
    width: 70%;
    height: auto;    
}
.tagline{
    font-size: 1.5rem;
    width: 70%;
    text-align: justify;
    font-weight: 500;
    padding-left: 30px;
}
.signupcontainer{
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* border: 1px solid black; */
}
.signupform{
    background-color: var(--whitecolor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 95%;
    margin: auto;
    height: auto;
}

.signupform input{
    outline: none;
    border: none;
    border:  1px solid var(--greycolor);
    width: 90%;
    margin: auto;
    padding: 10px 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 1.2rem;
}
.signupform input:focus{
    box-shadow: 0px 0px 4px var(--primarycolor);
    border-color: var(--primarycolor);
}
.signupbtn{
    outline: none;
    border: none;
    padding: 20px 5px;
    background-color: var(--primarycolor);
    color: var(--whitecolor);
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 8px;
    width: 90%;
    margin: 25px 0;
}
.signupbtn:hover{
    background-color: var(--primaryhover);
    cursor: pointer;
}
.signuplink{
    display: inline;
    text-decoration: none;
    color:var(--primarycolor);
}
.signuplink:hover{
    text-decoration: underline;
}

    

@media screen and (max-width:900px) {
    .signup{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    .signuppic{
        display: none;
    }
    .signupcontainer{
        height: auto;
        width: 80%;
        margin: 10px;
    }
    .signupform{
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .signupcontainer{
        width: 95%;
    }
    .signuppic{
        width: 80%;
        
    }
}
@media screen and (max-width:400px) {
    .signupform input{
        font-size: 4vw;
        width: 98%;
    }
    .signupbtn{
        font-size: 1rem;
    }
}
@media screen and (max-width:300px) {
    body{
        background-color: var(--whitecolor);
    }
    .signupcontainer{
        width: 100%;
        margin: 0%;
    }
    .signupform{
        width: 100%;
    }
}